body{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background: lightblue;
	margin: 10px;
}
#head{
	text-align: center;
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
#body{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: red;
}
#left{
	margin-top: 10px
	margin-bottom: 10px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: green;
}
#middle{
	margin-top: 10px
	margin-bottom: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: green;
}
#right{
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: yellow;
}

th{
	font-weight: bold;
	table-layout: fixed;
	width: 200px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: black
}
td{
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: black
}
#data{
	margin-bottom: 100px;
}